form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  width: 40%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2), 4px 6px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
  font-size: 16px;
}
.search-button {
  width: 120px;
  padding: 10px;
  background-color: #00bcd4;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 03s ease-in-out;
}
